*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    
}

html, 
body{
    height: 100%;
    width: 100%;

}
.section1{
    min-height: 100vh;
    width: 100%;
    position: relative;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav h1{
    font-size: 30px;
    
}

nav h1 i{
    rotate: 45deg;
    display: inline-block;
    font-size: 55px;
}

nav h4{
    font-size: 25px;
    font-weight: 500;
}

nav button{
    padding: 22px 40px;
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #000;
}

.center{
    padding: 70px 100px;
    min-height: calc(100vh - 200px);
    width: 100%;
    display: flex;
}

.center-part1{
    
    height: 100%;
    width: 44%;
   
}


.center-part1 h1{
    line-height: 1.2;
    font-size: 90px;
}

.center-part1 p{
    
    font-size: 20px;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 35px;
}

.center-part1 button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 28px 40px;
    font-size: 20px;
    font-weight: 300;
    border: none;
}
.center-part2{
    width:56%;
    min-height: 500px;
    position: relative;
}

.center-part2 img{
    position: absolute;
    right: 0;
    height: 50%;
}


.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;

}

.section1bottom img{
    height: 60px;
}


.section2 .services{
    
    padding: 40px 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.services h3{
    background-color: #9AE975;
    font-weight: 500;
    padding: 8px 3px 10px;
    border-radius: 5px;
    font-size: 60px;
}

.services p{
    width: 40%;
    font-size: 20px;
}

.container{
    height: 84%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

}

.elem{
    flex-shrink: 0;
    height: 250px;
    width: 45%;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 15px 0px black;
    display: flex;
}

.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction:column;
}

.elem-part2{
    height: 100%;
    width: 50%;

}

.elem-part2 img{
    height: 100%;

}

.elem-part1 h2{
    font-size: 25px;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: #9AE975;
    font-weight: 500;
}

.elem-part1 h4{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.elem-part1 h4 i{
    padding: 3px;
    background-color: black;
    font-weight: 900;
    color: #fff;
    border-radius: 50%;
}


.black{
    background-color: black;
}









